:root {
	--white: #ffffff;
	--dark: #141414;
	--darkgray: #3B3B3B;
	--gray: #8C8C8C;
}

* {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	color: var( --white );
	font-size: 15px;
}

body {
	min-height: 100vh;
	background-color: var( --dark );
	padding: 50px 0;
	display: grid;
}

h1 {
	font-size: 30px;
	margin-bottom: 50px;
}

h2 {
	font-size: 20px;
	margin-bottom: 20px;
}

h3 {
	font-size: 15px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}

nav {
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid var( --darkgray );
}

nav	a {
	position: relative;
	margin-right: 25px;
	transition: color .2s ease;
}

nav a:hover {
	color: var( --gray );
}

#top {
	position: fixed;
	width: 100px;
	right: 50px;
	bottom: -100%;
	transition: bottom 1s ease;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 15px 0 rgba(0,0,0,.5)
}

#top svg {
	display: block;
	width: 100%;
}

#top.show {
	bottom: 0;
}

.container {
	align-self: start;
	width: 60%;
	margin: 0 auto;
}

.content {
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid var( --white );
}

/*
Landing
*/

.modules {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 25px;
}

.modules h1 {
	grid-column-start: 1;
	grid-column-end: 5;
}

.module {
	align-items: center;
	text-align: center;
	overflow: hidden;
}

.module .image {
	width: 100%;
	padding-top: 100%;
	background-size: 100%;
	background-position: center center;
	border-radius: 5px;
	transition: background-size .3s ease;
}

.module:hover .image {
	background-size: 110%;
}

/*.module img {
	display: block;
	width: 100%;
	border-radius: 5px;
}

.module:hover img {
	width: 110%;
}*/

.module h2 {
	margin-top: 15px;
	margin-bottom: 0;
}

/*
Module page
*/

.title {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

.title .return {
	width: 25px;
	height: 25px;
	margin-right: 15px;
}

.title polygon {
	fill: var( --darkgray );
	transition: fill .3s ease;
}

.title .return:hover polygon {
	fill: var( --white );
}

.title h1 {
	margin-bottom: 0;
}

.banner {
	width: 100%;
	margin-bottom: 50px
}

.procedure {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 25px;
	grid-row-gap: 25px
}

.procedure:not(last-child) {
	margin-bottom: 50px;
}

.procedure h1 {
	grid-column-start: 1;
	grid-column-end: 3;
}

.procedure h2 {
	grid-column-start: 1;
	grid-column-end: 3;
}

.procedure .step {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.procedure .step p {
	margin-bottom: 10px
}

.procedure .step img {
	display: block;
	width: 100%;
}

.procedure .note ul {
	margin-left: 17px;
}	

.procedure .note li {
	margin-left: 0; 
	padding-left: 0;
	margin-bottom: 10px;
}

.image-big {
	margin-bottom: 50px;
}

.image-big img {
	max-width: 100%;
}

#downloads a {
	position: relative;
	color: var( --white );
	transition: color .3s ease
}

#downloads a::after {
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	background-image: url( '../img/download.svg' );
	position: absolute;
	right: -25px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity .3s ease
}

#downloads a:hover::after {
	opacity: 1;
}

#downloads ul {
	margin-left: 17px;
}	

#downloads li {
	margin-left: 0; 
	padding-left: 0;
	margin-bottom: 10px;
}

/*
Footer
*/

footer {
	align-self: end;
	width: 60%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer .logo {
	width: 100px;
}

footer a {
	color: var( --gray );
	transition: color .3s ease;
	margin-right: 25px;
}

footer a:hover {
	color: var( --white );
}

/*
Media Queries
*/

@media (max-width: 900px) {

	* {
		font-size: 15px;
	}

	h1 {
		font-size: 25px;
		margin-bottom: 25px;
	}

	h2 {
		font-size: 17px;
		margin-bottom: 17px;
	}

	h3 {
		font-size: 15px;
		margin-bottom: 15px;
	}

	body {
		padding: 50px;
	}

	.container {
		width: 100%;
	}

	footer {
		width: 100%;
	}

}

@media (max-width: 600px) {

	* {
		font-size: 12px;
	}

	h1 {
		font-size: 20px;
		margin-bottom: 20px;
	}

	h2 {
		font-size: 15px;
		margin-bottom: 15px;
	}

	h3 {
		font-size: 12px;
		margin-bottom: 12px;
	}

	body {
		padding: 25px;
	}

	#top {
		width: 75px;
		right: 25px;
	}

	.modules {
		grid-template-columns: repeat(2, 1fr);
	}

	.modules h1 {
		grid-column-start: 1;
		grid-column-end: 3;
	}

}